@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
body {
  height: 100vh;
  margin: 0;
  font-family: "Poppins", arial;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3.5em;
  font-weight: 800;
  color: #CADEFF;
  text-shadow: 0px 8px 4px rgba(0, 0, 0, 0.25);
}

img {
  width: 100%;
}

.nav-container {
  background: #081C3C;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 100;
}
.nav-container a {
  color: #FDDBF2;
}
.nav-container .logo {
  color: white;
  font-weight: bold;
}

nav {
  float: right;
}
nav ul {
  display: flex;
}
nav ul a {
  display: block;
  padding: 0 1em;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.social-header {
  display: none;
}

.mainHero {
  background: #0A2147;
  color: #5E93E8;
  display: grid;
  text-align: center;
  padding: 4em;
}

.shapeDesign {
  display: none;
}

.meet {
  display: flex;
  margin: 0 auto;
  width: 200px;
  font-weight: 300;
  color: #FDDBF2;
}
.meet span {
  margin-top: 1em;
  margin-right: 1em;
}

.scroll {
  width: 30px;
  margin-top: 2em;
}

section {
  padding: 4em 2em;
  text-align: center;
}

.aboutDesign {
  display: none;
}

.about {
  position: relative;
  background-color: #F9E8F0;
  z-index: -2;
}

h2 {
  color: #0A2147;
  font-weight: 600;
  font-size: 2.5em;
  display: block;
  margin-top: -0.4em;
}

.about-text {
  color: #061329;
  font-size: 1em;
  margin-bottom: 3em;
  line-height: 1.8em;
  font-weight: 400;
}

.photoMe {
  width: 400px;
  height: 300px;
}

.knowledge {
  background: #5E93E8;
  display: grid;
  padding: 4em;
}

.knowledge h2 {
  color: #FFFFFF;
  display: block;
  text-align: left;
  margin-top: -0.4em;
}

.subtitle {
  margin-top: -3em;
  text-align: left;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.1em;
  font-size: 0.85em;
  color: #D5D5D5;
}

.currentSkills {
  background: #0A2147;
}

.skills-title {
  color: #FFAAE4;
  text-align: right;
  font-weight: 700;
  font-size: 2em;
  display: block;
  margin-top: -1em;
  margin-bottom: 1em;
}

.skills-container {
  margin-top: 3em;
  width: 14;
}

.skills-container ul li {
  background: #061329;
  padding: 1em;
  margin-bottom: 1em;
}

.icon-container {
  height: 300px;
}

figure {
  margin: 0;
}

.isSkill {
  width: 6em;
  height: 6em;
  display: inline-block;
}

img.skill {
  height: 5em;
  width: 5em;
}

figcaption {
  text-align: center;
}

.skills-container ul {
  font-weight: 600;
  color: #FDDBF2;
}

.skills-container li {
  font-weight: 300;
  color: white;
  text-align: justify;
}

h3 {
  margin-top: -0.1em;
  font-weight: 500;
  font-size: 1.25em;
  color: #9CC2FF;
  text-align: center;
}

.experience {
  background-color: #081C3C;
}

.experience h2 {
  text-align: right;
  color: white;
}

.experience .subtitle {
  text-align: right;
}

.skills-container .jobTitle ul li h4 {
  color: #FDDBF2;
  font-size: 1.5em;
  margin: 0;
  text-align: center;
}

.skills-container .jobTitle ul li p {
  color: #FFAAE4;
  margin: 0.5em;
  text-align: right;
}

.skills-container .jobInfo ul li {
  background: #D5D5D5;
  color: #061329;
  padding: 1em;
}

.skills-container .jobInfo {
  display: none;
}

.projects {
  background: #D5D5D5;
}

.project-container {
  display: inline-block;
}

.projects h2 {
  margin-bottom: 1em;
}

.project-container h4 {
  font-size: 1.5em;
  margin: 0;
  color: #18386C;
}

.project-container .project-info {
  width: 100%;
}

.project-container subtitle {
  font-size: 0.9em;
  color: #FFAAE3;
}

.project-container .skillsUsed {
  color: #004112;
}

.project-container .projectDetails {
  font-size: 1em;
}

.project-container .projectPhoto {
  width: 100%;
}

.contact {
  background-color: #081936;
}

.likeLabel h1 {
  color: #FFFFFF;
}

.contact h2 {
  color: #A7C8FF;
}

.email span {
  font-weight: 300;
  color: #FFFFFF;
  letter-spacing: 0.1em;
}

.thisSite {
  background-color: #5E93E8;
}

.thisSite h3 {
  font-size: 1.5em;
  font-weight: 700;
  color: #081936;
  margin-bottom: 0px;
}

.thisSite subtitle a {
  margin-top: 0px;
  color: #FFFFFF;
  font-weight: 300;
  letter-spacing: 0.1em;
}

.footer {
  background-color: #081C3C;
}

@media only screen and (min-width: 900px) {
  .project-container {
    display: inline-block;
  }
  .projects h2 {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .project-container h4 {
    font-size: 1.5em;
    margin: 0;
    color: #18386C;
  }
  .project-container .project-info {
    width: 60%;
    float: left;
  }
  .project-container subtitle {
    font-size: 0.9em;
    color: #FFAAE3;
  }
  .project-container .skillsUsed {
    color: #004112;
  }
  .project-container .projectDetails {
    font-size: 1em;
  }
  .project-container .projectPhoto {
    width: 35%;
    float: right;
  }
}/*# sourceMappingURL=main.css.map */